body {
  background: black;
}

h1 {
  font-size: 3rem;
  font-family: Share Tech Mono, monospace;
  color: #773;
  text-shadow: 2px 2px #744;
  margin-top: 0;
  margin-bottom: 20px;
}

h2 {
  font-size: 2rem;
  font-family: Share Tech Mono, monospace;
  color: #168;
  text-shadow: 1px 1px #777;
}

h3 {
  font-size: 1.5rem;
  font-family: Share Tech Mono, monospace;
  color: #825;
  text-shadow: 0.3px 0.3px #770;
}

rect.system {
  fill: #222;
  stroke: #838;
  stroke-width: 0.3rem;
}

rect.selected {
  fill: #444;
  stroke: #f2f;
  stroke-width: 0.3rem;
}

.guide {
  width: 1200;
  padding-left: 100px;
}

.sphere {

}

.sphere:hover {
  stroke-width: 3;
  stroke: #2f2;
}

circle.sun {
  fill: #ff6;
}

circle.mercury {
  fill: #ff9;
}

circle.venus {
  fill: #fd8;
}

circle.earth {
  fill: #19d;
}

circle.mars {
  fill: #833;
}

circle.jupiter {
  fill: #975;
}

circle.saturn {
  fill: #ec5;
}

circle.uranus {
  fill: #19d;
}

circle.neptune {
  fill: #15d;
}

circle.pluto {
  fill: #533;
}

circle.satelite {
  fill: #777;
}

text.system {
  font-family: Share Tech Mono, monospace;
  font-size: 1.5rem;
  fill: #757;
  text-shadow: 1px 1px #999;
}

text.system:hover {
  fill: #f2f;
}

text.selected {
  font-family: Share Tech Mono, monospace;
  font-size: 1.5rem;
  fill: #f2f;
  text-shadow: 0.1px 0.1px #999;
}

text.spheres {
  font-family: Share Tech Mono, monospace;
  font-size: 1rem;
  fill: #44a;
  text-shadow: 0.1px 0.1px #bbb;
  cursor: pointer;
}

text.spheres:hover {
  fill: #f2f;
}

text.spheres.visible {
  font-family: Share Tech Mono, monospace;
  font-size: 1rem;
  fill: #f2f;
  text-shadow: 0.1px 0.1px #bbb;
  cursor: pointer;
}

text#graph {
  font-family: Share Tech Mono, monospace;
  font-size: 1rem;
  fill: #44a;
  text-shadow: 0.1px 0.1px #bbb;
  cursor: pointer;
}

circle#graph {
  fill: #bbb;
  opacity: 0.5;
  cursor: pointer;
}

circle#graph:hover {
  fill: #a8a;
}

circle#graph:hover + .tooltip {
  display: inline;
}

text#graph:hover + .tooltip {
  display: inline;
}

g.tooltip {
  cursor: pointer;
  display: none;
}

text.tooltip {
  font-family: Share Tech Mono, monospace;
  font-size: 1rem;
  fill: #111;
  text-shadow: 0.1px 0.1px #bbb;
  cursor: pointer;
}

.slider {
  display: inline-block;
  width: 500px;
  height: 20px;
  padding: 20px;
  position: relative;
  margin-left: 150px;
}

p {
  font-family: Share Tech Mono, monospace;
  font-size: 1.3rem;
  color: #a2a;
  text-shadow: 0.1px 0.1px #bbb;
}

.container {
  overflow: hidden;
}

.column {
  float: left;
  margin: 60px;
  background-color: none;
  padding-bottom: 100%;
  margin-bottom: -100%;
}